<div class="row">
    <!--<h4>Scenes</h4>-->
    <div *ngFor="#scene of devices" class="small-12 medium-6 large-4 columns device {{scene.Type}} protection-{{scene.Protected}}"  (click)="changeDeviceState(scene)" [hidden]="scene.Type != 'Scene'">
        <div class="shadow row">
            <div class="small-2 columns md-icons icon status-{{scene.Status}} " [hidden]="">{{scene.Image | deviceNameToMDIcon}}</div>
            <div class="small-10 columns">
                <h4 class="name">{{scene.Name}}</h4>
                <!--<h6 class="last-changed text-right"><small>{{scene.LastUpdate}}</small></h6>-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!--<h4>Devices</h4>-->
    <div *ngFor="#device of devices" class="small-6 medium-4 large-3 columns device {{device.Type}} protection-{{device.Protected}}"  (click)="changeDeviceState(device)" [hidden]="device.Type == 'Scene'">
        <div class="shadow">
            <div class="small-12 md-icons icon status-{{device.Status}} " [hidden]="">{{device.Image | deviceNameToMDIcon}}</div>
            <h5 class="data text-center"> {{device.Data}} </h5>
            <h4 class="name text-center">{{device.Name}}</h4>
            <h6 class="last-changed text-right"><small>{{device.LastUpdate}}</small></h6>
        </div>
    </div>
</div>
